Hello World!
<a href="{{ path("team_index") }}"><button>Teams</button></a>
<a href="{{ path("player_index") }}"><button>Players</button></a>
<a href="{{ path("role_index") }}"><button>Roles</button></a>
<a href="{{ path("tournament_index") }}"><button>Tournaments</button></a>