{% extends 'QuidditchBundle:player:template.html.twig' %}

{% block body %}
    <h1>Players list</h1>

    <ul>
        <li>
            <a href="{{ path('player_new') }}" class="btn green">Create a new player</a>
        </li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Exp</th>
                <th>Age</th>
                <th>Exhaust</th>
				<th>Picture</th>
                <th>Team</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="players-display">

        </tbody>
    </table>
	<button id="load-more-players" class="btn">Load more</button>

	<ul>
		<li>
			<a href="{{ path('player_new') }}" class="btn green">Create a new player</a>
		</li>
	</ul>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function(){
			var i = 1;
			displayPlayers(i++);
			$('#load-more-players').on('click', function(){
				displayPlayers(i++);
			});
		});
	</script>
{% endblock %}
